*.tar
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.pth
*.pyc
/data/*
/__pycache__/*
/utils/__pycache__/*
/classification/__pycache__/*
/classification/models/__pycache__/*
/classification/models/GCN/__pycache__/*
/classification/models/BERT/__pycache__/*
/classification/models/XLNet/__pycache__/*
/ASR/__pycache__/*
/ASR/models/__pycache__/*
/ASR/models/LAS/__pycache__/*
/ASR/models/Transformer/__pycache__/*
/summarization/__pycache__/*
/summarization/models/__pycache__/*
/summarization/utils/__pycache__/*
/translation/__pycache__/*
/translation/models/__pycache__/*
/translation/models/Transformer/__pycache__/*
/generation/__pycache__/*
/generation/models/__pycache__/*
/punctuation_restoration/__pycache__/*
/punctuation_restoration/models/__pycache__/*
/punctuation_restoration/utils/__pycache__/*
/ner/data/*
